body{
    background-color: lightblue;
    list-style-position: inside;
    text-align: center;
}
.title{
    color: gray;
    font-family: 'Segoe UI';
}
.heading{
    color: darkblue;
    font-family: 'Segoe UI';
}
.details{
    color:black;
    font-family: 'Franklin Gothic Medium';
    font-size: 120%;
}